/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(135deg, #a8edea, #fed6e3);
  align-items: center;
}

.navbar-container {
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.doubtify-title {
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
  color: #333;
}
